.header {
  position: fixed;
  width: 100vw;
  height: 15vh;
  border-bottom: 2px solid #ffe900;
  z-index: 1;
  background-color: black;
}

.header_text {
  color: #ffe900;
  font-size: 35px;
  font-weight: bold;
  margin-top: 25px;
}
span {
  color: white;
}
