.detailsContainer {
  background-color: black;
  position: absolute;
  color: white;
  top: 98px;
  display: flex;
  padding-bottom: 50px;
  padding-left: 20px;
}

.detailImage {
  padding: 10px;
  height: 80%;
}
.details {
  padding: 10px;
  margin-top: 40px;
}
.details p {
  padding-bottom: 10px;
  font-weight: bold;
}

.hidden {
  display: none;
}

@media (min-width: 500px) {
  .detailImage {
    padding: 0;
  }
  .details {
    margin-top: 0;
  }
  .detailsContainer {
    padding-left: 50px;
  }
}
