img {
  width: 30vw;
}

.phoneList {
  padding-top: 15vh;
}
.phoneListContainer {
  list-style: none;
  min-height: 100vh;
}
li {
  position: relative;
}

.title {
  color: white;
  padding-top: 60px;
  padding-bottom: 20px;
}
@media (min-width: 500px) {
  .phoneListContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    width: 11vw;
  }
  .title {
    font-size: 18px;
  }
}
