img {
  width: 30vw;
}

.phoneList {
  padding-top: 15vh;
}
.phoneListContainer {
  list-style: none;
  min-height: 100vh;
}

.title {
  color: white;
  padding-top: 60px;
  padding-bottom: 20px;
}
@media (min-width: 600px) {
  /* .phoneListContainer {
    display: flex;
    justify-content: center;
    align-content: center;
  } */
  li {
    height: 60vh;
  }
}
